@{
    ViewData["Title"] = "Home Page";
}

@foreach (PostModel item in Model)
{
    <div class="card border-dark mt-5 mb-3 w-50 mx-auto">
        <div class="card-header">@item.Name</div>
        <div class="card-body">
            <h4 class="card-title">@item.Title</h4>
            <img src="~/NewFolder/@item.Img" class="img-fluid" />
            <p class="card-text mt-2">@item.Description</p>
            <h4>Likes: @item.Likes</h4>
            <a asp-action="LikePost" asp-controller="Users" asp-route-id="@item.Pid" class="btn btn-primary"><i class="fa-solid fa-thumbs-up"></i> Like</a>
        </div>
    </div>
}
