@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model dynamic

<div class="container py-5 h-100">
    <div class="row  justify-content-center h-100  w-100 ">
        <div class="col ">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body p-4">
                    <div class="d-block text-black">
                        <div class="flex-shrink-0">
                            <img class="img-fluid" Style="width: 400px; border-radius: 10px;" src="~/NewFolder/ProfilePics/@(TempData["uid"]).jpg" />
                            <label class="h1 text-uppercase">@TempData["username"]</label>
                            <a class="btn btn-dark ms-3" asp-action="EditProfile" asp-controller="Users">Edit</a>
                        </div>
                    </div>

                    @foreach (FriendsModel item in Model.numFollow)
                    {
                        
                    <div class="row w-75 m-auto mt-2">
                        <div class="col">
                            <div class="card border-dark m-3 " style="max-width: 20rem;">
                                <div class="card-body">
                                    <h4 class="card-title text-center fs-1" runat="server" id="lb_countFollowers">@item.followers</h4>
                                </div>
                                    <a class="card-header fs-3 bg-dark text-white text-center text-decoration-none" asp-action="FollowerList" asp-controller="Users">Followers</a>

                            </div>
                        </div>

                        <div class="col">
                            <div class="card border-dark m-3" style="max-width: 20rem;">
                                <div class="card-body">
                                    <h4 class="card-title text-center fs-1" id="lb_countFollowing">@item.following</h4>
                                </div>
                                
                                <a class="card-header fs-3 bg-dark text-white text-center text-decoration-none" asp-action="FollowingList" asp-controller="Users">Following</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card border-dark m-3" style="max-width: 20rem;">
                                <div class="card-body">
                                    <h4 class="card-title text-center fs-1" runat="server" id="lb_countPost">@item.numPost</h4>
                                </div>
                                <div class="card-header fs-3 bg-dark text-white text-center">Posts</div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
                <div class="m-auto mb-4">

                    @*<asp:Panel ID="Panel1" runat="server" Visible="false" CssClass="mt-4">
                        <asp:Label ID="Label2" Text="Enter new username: " runat="server" />
                        <asp:TextBox ID="tb_updatedUser" runat="server" Width="40%" />
                        <asp:Button ID="Button4" runat="server" OnClick="btn_update_click" Text="Update" CssClass="btn btn-dark" />
                        <br />
                        <asp:FileUpload ID="fu_profile" runat="server" accept=".png,.jpg,.jpeg,.gif" CssClass="mt-3 mb-1 form-control" />
                        <asp:Button ID="Button5" runat="server" Text="Upload pic" OnClick="btn_updatePic_Click" CssClass="btn btn-dark form-control" />
                    </asp:Panel>*@
                </div>
            </div>
        </div>
    </div>
    @foreach (PostModel item in Model.numpost)
    {
        <div class="card border-dark mt-5 mb-3 w-50 mx-auto">
            <div class="card-header">@item.Name</div>
            <div class="card-body">
                <h4 class="card-title">@item.Title</h4>
                <img src="~/NewFolder/@item.Img" class="img-fluid" />
                <p class="card-text mt-2">@item.Description</p>
                <h4>Likes: @item.Likes</h4>
            </div>
        </div>
    }
    
</div>
